<style>
h1{
  color: red;
  border: 5px solid black;
  width: 50%;
  text-align: center
}
</style>

<h1>Welcome to Hospital Manager</h1>

<ul>
  <li><a href="/hospitals">Hospitals Index</a></li>
  <%# <li><a href="/tasks/new">New Task</a></li> %>
</ul>