
<h1>Patients Index</h1>


<% @patients.each do |patient| %>
<%if patient.in_patient?%>
  <a href="patients/<%=patient.id%>">Go to Patient</a>
  <a href="/patients/<%= patient.id %>/edit">Edit Patient Data</a>
<table>
  <% patient.attributes.each_pair do |key, value|%>
    <tr>
      <td style="color:blue"><%= key %>: </td>
      <td><%= value %></td>
    </tr>
  <% end %>
      <br>
</table>
<% end %>
<br>
<% end %>