<style>
h1{
  color: red;
  border: 5px solid black;
  width: 25%;
  text-align: center
}
</style>
<!-- Links to other index pages-->
<p><a href="/">Homepage</a></p>
<p><a href="/hospitals">Hospitals</a></p>
<p><a href="/patients">Patients</a></p>

<h1>Patients Index</h1>


<% @patients.each do |patient| %>
  <%= patient.name %><br>
  <span style="color:blue" >Age:</span>
  <span><%= patient.age %><br></span>
  <span style="color:blue" >Symptoms:</span>
  <span><%= patient.ailment %><br></span>
  <span style="color:blue" >In Patient:</span>
  <span><%= patient.in_patient%></span><br>
  <br>
<% end %>