

<style>
h1{
  color: red;
  border: 5px solid black;
  width: 25%;
  text-align: center
}
</style>

<p><a href="/hospitals">Hospitals</a></p>

<h1><%= @patient.name %></h1>

<span style="color:blue" >Age:</span>
<span><%= @patient.age %><br></span>
<span style="color:blue" >Symptoms:</span>
<span><%= @patient.ailment %><br></span>
<span style="color:blue" >In Patient:</span>
<span><%= @patient.in_patient%></span><br>
  