
<h1>Hospitals Index</h1>

<% @hospitals.each do |hospital|%>
  <%= link_to "#{hospital.name} Established #{hospital.created_at}", "hospitals/#{hospital.id}"%>
  <br>
  <%= link_to "Edit #{hospital.name} Data", "/hospitals/#{hospital.id}/edit" %>
  <%= button_to "Delete #{hospital.name}", "/hospitals/#{hospital.id}", method: :delete  %>
  <br>
  <br>
<% end %>
<br>
<a href="/hospitals/new">Create New Hospital</a>