<p><a href="/hospitals">Hospitals</a></p>

<h1><%= @hospital.name %></h1>

<p>Hospital rating: <%= @hospital.rating %></p>
<p>Trauma services :<%= @hospital.trauma %></p>
<p>Research lab: <%= @hospital.research %></p>